<%= form_with model: user do |form| %>

  <% if user.errors.any? %>
    <div id="error-msgs">
      <h4> <%= pluralize(@user.errors.count, "error")%> prohibited your submission from being fulfilled:</h2>
      <ul>
        <%user.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <ul>
    <li>
      <%= form.label :username%>
      <%= form.text_field :username %>
    </li>
    <li>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </li>
    <li>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </li>
  </ul>
  <%= form.submit "Submit" %>
<% end %>